<div class="nasaapiwidget" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width:#width#;height:#height#;background-color:#BGEnedis#!important;">
  <div class="nasaapi_template text-center">
    <div id="nasaapiwidget">
      <div class="nasaapiImage"><img src=#url# height=#height#  width=#width#></div>
      
      <div class="nasaapiWidget">Titre</div>
      <div class="nasaapiTitle"><span class="nasaapiInfo">#title#</span></div>
        
      <div class="nasaapiWidget">Explication</div>
      <div class="nasaapiExplication"><span class="nasaapiInfo">#explanation#</span></div>
      
      <div class="nasaapiWidget">URL</div>
      <div class="nasaapiUrl"><span class="nasaapiInfo">#url#</span></div>
    </div>
  </div>
</div>
